body {
  font-family: Arial, Helvetica, sans-serif;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  align-items: center;
  border-radius: 6px;
  border: 1px solid gray;
  flex-direction: column;
}